<div class="chapter-embed">
    <h1 class="chapter-title">{{chapter.title}}</h1>

  {{#if chapter.youtubeId}}
    <div class="chapter-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{chapter.youtubeId}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  {{else}}
    {{typeform-embed url=chapter.typeformUrl}}
  {{/if}}
</div>

<div class="chapter-controls">
  <div class="chapter-controls__left">
  {{#if chapter.previousChapter}}
    {{navigate-button 'previous' chapter action=(action previous) class="previous-button"}}
  {{/if}}
  </div>
  <div class="chapter-controls__center">
    {{share-button chapter=chapter}}
  </div>
  <div class="chapter-controls__right">
  {{#if chapter.nextChapter}}
    {{navigate-button 'next' chapter action=(action next) class="next-button"}}
  {{/if}}
  </div>
</div>

<div class="chapter-body">
  <div class="chapter-description">
    {{{chapter.content}}}
  </div>

  {{#with chapter.links as |links|}}
  <ul class="chapter-links">
    {{#each links as |link|}}
    <li>
      <a href={{link.linkUrl}} target="_blank" class="chapter-links__label">{{fa-icon 'link'}} {{link.linkName}}</a>
    </li>
    {{/each}}
  </ul>
  {{/with}}

  {{#with chapter.attachments as |attachments|}}
  <ul class="chapter-attachments">
    {{#each attachments as |att|}}
    <li>
      <a href={{att.attachmentUrl}} target="_blank" download={{att.attachmentName}} class="chapter-attachments__label">
        {{fa-icon 'file-pdf-o'}} {{att.attachmentName}}
      </a>
      <span>
        <a href={{att.attachmentUrl}} target="_blank" download={{att.attachmentName}}>
          Télécharger
        </a>
        <span class="attachment-separator">/</span>
        {{#flyout-menu as |flyout|}}
          {{#flyout.trigger}}
            Partager
          {{/flyout.trigger}}

          {{#flyout.content}}
            {{share-button/share 'twitter'
              params=(hash text=att.attachmentName shareUrl=att.attachmentUrl)}}
            {{share-button/share 'facebook'
              params=(hash shareUrl=att.attachmentUrl)}}
            {{share-button/share 'email'
              params=(hash body=(concat att.attachmentName ': ' att.attachmentUrl))}}
          {{/flyout.content}}
        {{/flyout-menu}}
       </span>
    </li>
    {{/each}}
  </ul>
  {{/with}}
</div>
