{{#link-to route chapter.slug class=(concat "chapter-item chapter-item--" chapter.type)}}
  <div class="chapter-item__thumb">
    {{#if chapter.youtubeThumbnail}}
      <div class="chapter-item__yt-thumb" style={{parsedYtThumb}}></div>
    {{else}}
      <div class="chapter-item__quiz-thumb">
        {{fa-icon 'check'}}
      </div>
    {{/if}}
  </div>
  <div class="chapter-item__body">
    <div class="chapter-item__title">
      {{chapter.title}}
    </div>

    {{#if chapter.duration}}
    <div class="chapter-item__duration">
      {{fa-icon 'clock-o'}}
      {{parsedDuration}}
    </div>
    {{/if}}
  </div>
{{/link-to}}
