<title>{{model.title}}</title>

<link rel="canonical" href={{model.url}} />
<meta name="description" content={{model.description}} />

<meta property="og:site_name" content="La République En Marche !" />
<meta property="og:url" content={{model.url}} />
<meta property="og:title" content={{model.chapterTitle}} />
<meta property="og:description" content={{model.description}} />
{{#if model.image}}
  <meta property="og:image" content={{model.image}} />
  <meta property="og:image:width" content="1600" />
  <meta property="og:image:height" content="840" />
{{/if}}
<meta property="fb:pages" content="543099962534877" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={{model.chapterTitle}} />
<meta name="twitter:description" content={{model.description}} />
{{#if model.image}}
<meta name="twitter:image" content={{model.image}} />
{{/if}}

<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "",
      "name": "MOOC de La République En Marche !",
      "image": "https://storage.googleapis.com/en-marche-fr/E-MAILING/2017/images/REM/Logo-LREM-noir.jpg",
      "description": "Découvrez les MOOC de La République En Marche ! Entièrement gratuits, les MOOC (ou Massive Open Online Course) sont des cours accessibles en ligne créés par LaREM à destination de tous ceux qui veulent approfondir leurs compétences citoyennes."
  }
</script>
