<title>{{model.title}}</title>

<link rel="canonical" href={{model.url}} />
<meta name="description" content="Ce chapitre est l'un des éléments du cours {{model.moocTitle}}, un MOOC gratuit et accessible à tous, proposé par La République En Marche !" />

<meta property="og:site_name" content="La République En Marche !" />
<meta property="og:url" content={{model.url}} />
<meta property="og:title" content="{{model.chapterTitle}} | LaREM" />
<meta property="og:description" content="Ce chapitre est l'un des éléments du cours {{model.moocTitle}}, un MOOC gratuit et accessible à tous, proposé par La République En Marche !" />
{{#if model.image}}
  <meta property="og:image" content={{model.image}} />
  <meta property="og:image:width" content="1600" />
  <meta property="og:image:height" content="840" />
{{/if}}
<meta property="fb:pages" content="543099962534877" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{model.chapterTitle}} | LaREM" />
<meta name="twitter:description" content="Ce chapitre est l'un des éléments du cours {{model.moocTitle}}, un MOOC gratuit et accessible à tous, proposé par La République En Marche !" />
{{#if model.image}}
<meta name="twitter:image:src" content={{model.image}} />
{{/if}}
